@import "reset.css";

body {
    background-color: black;
    color: white;
}
a {
    color: white;
    text-decoration-line: none;
}

.container {
    display: flex;
    vertical-align:baseline;
    justify-content: space-between;
}

.home {
    margin: 20px;
    font-size: 3em;
}

.top_list >.item {
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    font-size: 1.3em;
}

.top_list_2 >.item {
    display: inline-block;
    margin-left: 40px;
    margin-top: 50px;
    font-size: 1.3em;
}
.top_list_2 >:nth-child(2){
    margin-right: 90px;
}

.left_list {
    margin-top: 100px;
    margin-left: 70px;
    font-size: 1.2em;
}

.left_list :nth-child(2) {
    margin-top: 50px;
}

#content_env_record, #content_env_protect_record, #content_env_step, #content_env_todo {
    position: absolute;
    left: 300px;
    top: 150px;
    width: 80%;
    height: 80%;
    background-color: gray;
}


/** 환경발자국 */
#content_env_step{
    background-image: url(/imgs/ground1.jpg);
}
#seed1{
    display: absolute;
    background-image: url(/imgs/seed1.png);
    width: 50px;
    height: 50px;
    border: 10px solid black;
}

/** to do list */
#content_env_todo{
    background-color: rgba(255, 255, 255, 0);
}
#content_env_todo_title{
    font-size: 3em;
    margin-left: 20px;
}
#check_list div:nth-of-type(n){
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin-top: 30px;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: lightgray;
    position: relative;
  }
input[type="checkbox"]:checked + label::after{
    content:'✔';
    font-size: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    left: 0;
    top:0;
  }

input[type="text"] {
    display: inline-block;
    height: auto; 
    line-height: normal;
    font-size: 1.5em;
    padding: 10px;
    width: 80%;
    margin-left: 10px;
    border: none;
    background: transparent;
}
/* input[type="text"] + label{
    width: 100%;
			padding: 10px 20px;
			margin: 5px 0;
			box-sizing: border-box;
  } */

#seed1{
    display: inline-block;
    margin: 50px;
}
#seed2{
    display: inline-block;
    margin: 50px;
}

